[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
cairo-lang = "*"
python-dotenv = "*"
starknet-devnet = "*"
"starknet.py" = "*"

[dev-packages]

[requires]
python_version = "3.9"
